/*Base template for the vast majority of webpages of this site*/

*{
   margin : 0;
   padding : 0;
}

body{
   background-color: var(--base-color);
   color:var(--text-color);
   overflow : hidden;
}

#text-header{
   margin: 0 auto;
   font-family: "Mansalva", sans-serif;
   font-weight: 400;
   font-style: normal;
   font-size: 2.5rem;
}