/* Dark/Light mode palets*/

:root{

   --base-color : rgb(0, 0, 0);
   --base-colorvar : rgba(20, 20, 20, 0.7);
   --text-color: white;

   /*Planets "color" to fit better with the panels, surely not the best way to do it , srry
   --mercure-color : rgb(58, 57, 57);
   --venus-color : rgb(154, 125, 9);*/
}

.lightmode{

   --base-color : rgb(255, 255, 255);
   --base-colorvar : rgba(199, 194, 194, 0.7);
   --text-color: rgb(0, 0, 0);
}
